body{
    background:#ffffff;
    color:#222;
    font-family:
        "Yu Mincho",
        "Hiragino Mincho ProN",
        serif;
    line-height:1.9;
}

.container{
    width:700px;
    margin:40px auto;
}

h1{
    font-size:42px;
    font-weight:normal;
}

h2{
    background:#d4ce8d;
    padding:8px 12px;
    font-size:28px;
    font-weight:normal;
}

ul{
    list-style:none;
    padding-left:0;
}

li{
    margin:12px 0;
}

a{
    color:#4f57b8;
    text-decoration:underline;
}

a:hover{
    text-decoration:none;
}

a:link {
    color: #4f57b8;
}

a:visited {
    color: #4f57b8;
}

a:hover {
    color: #3a4299;
}

a:active {
    color: #3a4299;
}
